body{
	background-color: rgba(0,0,0,0.8);
}
.container .image {
	height: 550px;  
        width: 100%; 
        position: relative;
	top: 0px;  
        bottom: 0px;  
        left: 0;  
        right: 0;  
        margin: 0px;
        margin-bottom: -0px;
        display: block;
    }
.container .logo
{
	height:100px;
	width: 100px;
	float: left;
	margin-top: -485px;
	position: absolute;
	margin-left: 10px;
}  
  nav
{
	background:transparent;
	text-indent:1em;
	font-weight:bolder;
	position: relative;
	margin-top: -410px;
	margin-left: 350px;
	float: left;
}
nav a
{
    letter-spacing: 4px;
	text-decoration: none;
	color:gold;
	padding: 5px 20px;
	border: 1px solid transparent;
transition: 0.3s ease;
}
nav a:hover{
	cursor:pointer;
	color:black;
	background: gold;
	text-decoration-line: underline;
	text-decoration-style: double;

}
nav .menu {
	text-decoration-line: underline;
	text-decoration-style: double;
	background: gold;
	color: black;

}
.vl{
	width: 5%; 
	height: 2500px;
border-left: 3px solid gold;
  position: absolute;
  left: 9%;
 float: left;
 margin-top: -550px;
}
.zl{
	width: 5%; 
	height: 2500px;
border-left: 3px solid gold;
  position: absolute;
  right: 5%;
 float: right;
 margin-top: -550px;

}
.centertext {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centertext h1{
	color: gold;
	font-size: 60px;
	letter-spacing: 10px;
}
.ul{
	width: 1%; 
	height: 2500px;
border-left: 0.1px solid rgb(240,215,0.2);
  position: absolute;
 left:25%;
}
.yl{
	width: 1%; 
	height: 2500px;
border-left: 0.1px solid rgb(240,215,0.2);
  position: absolute;
  left: 42%;
}
.wl{
	width: 1%; 
	height: 2500px;
border-left: 0.1px solid gold;
  position: absolute;
  left: 57%;
}
.xl{
	width: 1%; 
	height: 2500px;
border-left: 0.1px solid gold;
  position:absolute;
  left: 75%;
}
.sidebar{
	position: relative;
}
.sidebar li {
	width: 210px;
	margin-left: 90px;
	list-style: none;
	margin-top: 0px;
	font-size: 25px;
    padding-top: 40px;
   
}
.sidebar a{
	text-decoration: none;
	color: gold;
	letter-spacing: 2px;
}
.sidebar a:hover{
	cursor:pointer;
	color:gold;
	text-decoration-line: underline;
	text-decoration-style: double;
	font-size: 27px;
}
.sidebar .starters{
	color: white;
	text-decoration-line: underline;
	text-decoration-style: double;
}
table,tr{
    width: 50px;
	margin-left: 320px;
	margin-top: -330px;
	position: relative;
	padding: 10px;	
}
td{
	text-align: left;
	color: gold;
	padding: 15px;
	letter-spacing: 4px;
	line-height: 1.8;
}
.table1{
	margin-top: 330px;
	margin-bottom: 50px;
    margin-left: 28%;
}

